*{
    margin: 0;
    padding: 0;
    font-family: 'Bona Nova', cursive;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vw;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menuP{
    display: inline;
    margin: 1.5vw;
}

.haus{
    font-family: 'Amarante', 'Bona Nova', cursive;
    font-weight: 100;
    font-size: 4vw;
}

.main{
    display: flex;
    min-height: 60vw;
    max-height: 100vw;
    color: white;
}

.btnShop{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
}

.main1{
    flex: 1;
    text-align: center;
}

.main2{
    background-color: #996B60;
    flex: 1;
    display: inline-flex;
}

.img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.mainContent{
    position: absolute;
    top: 20vw;
    margin: 0 4vw;
}

h1{
    font-family: 'Liberation Serif';
    font-weight: 400;
    font-size: 5vw;
    line-height: 6vw;
}

h2{
    font-size: 2.5vw;
    font-weight: 300;
    margin: 2vw 0;
}

h3{
    font-size: 1.8vw;
    font-weight: 300;
    margin: 2vw 0;
}

p{
    font-family: 'Open Sans', sans-serif;
    margin-top: 1vh;
    font-size: 1.2vw;
    line-height: 2vw;
}

.btnShop{
    border: 1px solid white;
    background: none;
    padding: 1vw 3vw;
    margin-top: 3vw;
}

.styleBlack{
    background-color: black;
    /* margin-bottom: 10vw; */
    color: white;
    border: none;
}

.container{
    display: flex;
    padding: 3vw 0;
    border-bottom: 1px solid gray;
    margin: 0 6vw;
}

.alignEnd{
    align-items: flex-end;
}

.center{
    flex:1;
    text-align: center;
}

img{
    width: 20vw;
    margin-top: 1.8vw;
}

.tit{
    margin: 6vw 0 0;
    text-align: center;
}

.wineglass{
    width: 88%;
    margin: 0;
}

.between{
    justify-content: space-between;
}

.left{
    flex:1;
    text-align: left;
}

.right{
    flex:2;
    text-align: end;
}

.imgSize{
    width: 90%;
    margin: 0;
}

.absolute{
    position:absolute;
    left: 0;
    width: 100%;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 1vw;
    color: black;
}

.fifth{
    flex: 1;
}

.container .third{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    flex: 1;
}

.bg{
    background: url(img/haus5.webp) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 5vw 6vw;
    border: none;
}

.main1 .styleBlack{
    padding: 3vw 0;
    margin: 3vw 0;
}

.white{
    color: white;
}

.footer{
    flex-wrap: wrap;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 3vw 6vw;
    height: 80vh;
    border: none;
}

form{
    position: relative;
   padding: 2vw 0;
   border-bottom: 1px solid #fff;
   width: 100%;
}

form button{
    right: 0;
    position: absolute;
}

input, button{
    color: #fff;
    font-size: 1vw;
    border: none;
    background: none;
}

.inline{
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-top: 5vw;
}



.flex2{
    flex: 2;
    margin-right: 15vw;
}

.footer div a{
    color: gray;    
    display: block;
    text-align: start;
    padding: 1vw 0;
}

.footer div{
    text-align: left;
}

.footer .inline a{
    padding: 2vw 4vw;
}
.inline p{
    margin: 0;
}

